.usergroup-banner {
    position: relative;
    padding: 1.8px;
    margin: 3px;
    display: block;
    width: 100%;
}
.usergroup-text strong {
    background: #222;
	width: 100%;
    font-weight: 400;
    text-align: center;
    display: inline-block;
	color: white;
	padding-top: 1px;
}
.admin {
    background: linear-gradient(to right, #105da5, #2877fb);
}
.ct {
    background: linear-gradient(to right, #105da5, #49891e);
}
.pt {
    background: linear-gradient(to right, #105da5, #FF0000);
}
.mt {
    background: linear-gradient(to right, #105da5, #f7acbb);
}
.rt {
    background: linear-gradient(to right, #105da5, #990033);
}
.gt {
    background: linear-gradient(to right, #105da5, #E2703A);
}
.et {
    background: linear-gradient(to right, #105da5, #5f9ea0);
}
.devtech {
    background: linear-gradient(to right, #105da5, green);
}
