.light {
    background-color: #efefef;
}
.dark {
    background-color: #0e0d0d;
}
.size {
    width: 500px;
    display:inline-block;
    padding: 10px;
}

.usergroup-banner {
    position: relative;
    padding: 1.8px;
    margin: 3px;
    display: block;
    width: 100%;
}
.usergroup-image {
    display: inline-block;
    width: 10%;
}
.usergroup-text {
    width: 89%;
    background: #222;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.usergroup-span {
    color: white;
}

.admin {
    background: linear-gradient(to right, #105da5, #2877fb);
}
.ct {
    background: linear-gradient(to right, #105da5, #49891e);
}
.pt {
    background: linear-gradient(to right, #105da5, #FF0000);
}
.mt {
    background: linear-gradient(to right, #105da5, #f7acbb);
}
.rt {
    background: linear-gradient(to right, #105da5, #990033);
}
.gt {
    background: linear-gradient(to right, #105da5, #E2703A);
}
.et {
    background: linear-gradient(to right, #105da5, #5f9ea0);
}
